In [85]:
import psycopg2
from psycopg2 import sql
import pandas as pd
import numpy as np

In [86]:
# --- PostgreSQL connection config ---
DB_CONFIG = {
    "host": "localhost",       # ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÄ‡∏õ‡πá‡∏ô host ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì
    "port": 5432,
    "dbname": "airflow",
    "user": "airflow",
    "password": "airflow"
}

In [87]:

### Table features emtpy table
# CREATE_TABLES_SQL = [
#     # 1. Train Features
#     """
#     CREATE TABLE IF NOT EXISTS features (
#         feature_date DATE PRIMARY KEY,
#         day_type SMALLINT NOT NULL,
#         dow SMALLINT NOT NULL,
#         rain_average FLOAT,
#         arl FLOAT,
#         bts FLOAT,
#         mrt_blue FLOAT,
#         mrt_purple FLOAT,
#         srt_red FLOAT,
#         mrt_yellow FLOAT,
#         mrt_pink FLOAT
#     );
#     CREATE INDEX IF NOT EXISTS idx_features_date ON features(feature_date);
#     """,
# ]

In [88]:
df = pd.read_csv('../data/augmented_baseline.csv')
df.head()

,‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà,day_type,holiday_subject,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ARL,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ BTS,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ä‡∏°‡∏û‡∏π,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏°‡πà‡∏ß‡∏á,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á,‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÅ‡∏î‡∏á,rain_average,dow
0,2020-01-01,0,‡∏ß‡∏±‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡∏õ‡∏µ‡πÉ‡∏´‡∏°‡πà,48790,461400,not available,236053,23135,not available,not available,0.0,2
1,2020-01-02,1,normal,65090,720500,not available,341059,39445,not available,not available,0.0,3
2,2020-01-03,1,normal,69465,782100,not available,373005,43185,not available,not available,0.0,4
3,2020-01-04,0,normal,53304,574400,not available,274151,30550,not available,not available,0.0,5
4,2020-01-05,0,normal,50992,503000,not available,237162,26012,not available,not available,0.0,6

In [89]:
# --- ‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡∏≠‡πà‡∏≤‡∏ô df ‡∏°‡∏≤‡πÅ‡∏•‡πâ‡∏ß ‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏Å‡πà‡∏≠‡∏ô ---
print(df.columns)

# --- ‡∏ñ‡πâ‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏°‡πà‡∏ï‡∏£‡∏á ‡πÉ‡∏´‡πâ map/rename ‡∏Å‡πà‡∏≠‡∏ô ‡πÄ‡∏ä‡πà‡∏ô ---
rename_map = {
    "‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà":       "feature_date",
    "dow":    "dow",
    "day_type":   "day_type",
    "rain_average":   "rain_average",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ARL":   "arl",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ BTS":   "bts",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô":   "mrt_blue",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏°‡πà‡∏ß‡∏á":   "mrt_purple",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ä‡∏°‡∏û‡∏π":   "mrt_pink",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÅ‡∏î‡∏á":   "srt_red",
    "‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á":   "mrt_yellow",
    # ... ‡πÄ‡∏û‡∏¥‡πà‡∏° mapping ‡∏ï‡∏≤‡∏°‡∏à‡∏£‡∏¥‡∏á‡πÉ‡∏ô df ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì ...
}
df = df.rename(columns=rename_map)

df

Index(['‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà', 'day_type', 'holiday_subject', '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ARL', '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ BTS',
       '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ä‡∏°‡∏û‡∏π', '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô', '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏°‡πà‡∏ß‡∏á',
       '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á', '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÅ‡∏î‡∏á', 'rain_average', 'dow'],
      dtype='object')

,feature_date,day_type,holiday_subject,arl,bts,mrt_pink,mrt_blue,mrt_purple,mrt_yellow,srt_red,rain_average,dow
0,2020-01-01,0,‡∏ß‡∏±‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡∏õ‡∏µ‡πÉ‡∏´‡∏°‡πà,48790,461400,not available,236053,23135,not available,not available,0.000000,2
1,2020-01-02,1,normal,65090,720500,not available,341059,39445,not available,not available,0.000000,3
2,2020-01-03,1,normal,69465,782100,not available,373005,43185,not available,not available,0.000000,4
3,2020-01-04,0,normal,53304,574400,not available,274151,30550,not available,not available,0.000000,5
4,2020-01-05,0,normal,50992,503000,not available,237162,26012,not available,not available,0.000000,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2068,2025-08-30,0,normal,55827,630745,53569,342903,50692,38033,30881,0.000000,5
2069,2025-08-31,0,normal,51281,537471,45400,286080,41090,34682,28622,3.733333,6
2070,2025-09-01,1,normal,74607,814960,75159,488170,84815,50087,43615,16.722222,0
2071,2025-09-02,1,normal,73273,831023,75584,510420,86519,50517,41083,4.944444,1
2072,2025-09-03,1,normal,75562,837496,75169,520075,87696,52235,42598,14.833333,2

In [90]:
df[365:]

,feature_date,day_type,holiday_subject,arl,bts,mrt_pink,mrt_blue,mrt_purple,mrt_yellow,srt_red,rain_average,dow
365,2020-12-31,0,‡∏ß‡∏±‡∏ô‡∏™‡∏¥‡πâ‡∏ô‡∏õ‡∏µ,17262,231790,not available,86163,11394,not available,not available,0.000000,3
366,2021-01-01,0,‡∏ß‡∏±‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡∏õ‡∏µ‡πÉ‡∏´‡∏°‡πà,14666,181433,not available,82015,9381,not available,not available,0.000000,4
367,2021-01-02,0,normal,14774,178983,not available,76758,10062,not available,not available,0.000000,5
368,2021-01-03,0,normal,17287,180283,not available,76167,10092,not available,not available,0.000000,6
369,2021-01-04,1,normal,30917,376301,not available,178984,25528,not available,not available,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2068,2025-08-30,0,normal,55827,630745,53569,342903,50692,38033,30881,0.000000,5
2069,2025-08-31,0,normal,51281,537471,45400,286080,41090,34682,28622,3.733333,6
2070,2025-09-01,1,normal,74607,814960,75159,488170,84815,50087,43615,16.722222,0
2071,2025-09-02,1,normal,73273,831023,75584,510420,86519,50517,41083,4.944444,1
2072,2025-09-03,1,normal,75562,837496,75169,520075,87696,52235,42598,14.833333,2

In [91]:
df.columns

Index(['feature_date', 'day_type', 'holiday_subject', 'arl', 'bts', 'mrt_pink',
       'mrt_blue', 'mrt_purple', 'mrt_yellow', 'srt_red', 'rain_average',
       'dow'],
      dtype='object')

In [92]:
df.replace(['not available'], np.nan, inplace=True)

In [93]:
df

,feature_date,day_type,holiday_subject,arl,bts,mrt_pink,mrt_blue,mrt_purple,mrt_yellow,srt_red,rain_average,dow
0,2020-01-01,0,‡∏ß‡∏±‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡∏õ‡∏µ‡πÉ‡∏´‡∏°‡πà,48790,461400,NaN,236053,23135,NaN,NaN,0.000000,2
1,2020-01-02,1,normal,65090,720500,NaN,341059,39445,NaN,NaN,0.000000,3
2,2020-01-03,1,normal,69465,782100,NaN,373005,43185,NaN,NaN,0.000000,4
3,2020-01-04,0,normal,53304,574400,NaN,274151,30550,NaN,NaN,0.000000,5
4,2020-01-05,0,normal,50992,503000,NaN,237162,26012,NaN,NaN,0.000000,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2068,2025-08-30,0,normal,55827,630745,53569,342903,50692,38033,30881,0.000000,5
2069,2025-08-31,0,normal,51281,537471,45400,286080,41090,34682,28622,3.733333,6
2070,2025-09-01,1,normal,74607,814960,75159,488170,84815,50087,43615,16.722222,0
2071,2025-09-02,1,normal,73273,831023,75584,510420,86519,50517,41083,4.944444,1
2072,2025-09-03,1,normal,75562,837496,75169,520075,87696,52235,42598,14.833333,2

In [94]:
#CODE for csv to features table in postgresql
from io import StringIO

# ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
conn = psycopg2.connect(**DB_CONFIG)
cur = conn.cursor()

# --- ‡∏à‡∏±‡∏î‡πÄ‡∏£‡∏µ‡∏¢‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö‡∏•‡∏≥‡∏î‡∏±‡∏ö‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á ---
cols = [
    "feature_date", "day_type", "dow", "rain_average",
    "arl", "bts", "mrt_blue", "mrt_purple",
    "srt_red", "mrt_yellow", "mrt_pink"
]
df = df[cols]

# --- ‡∏ï‡πà‡∏≠‡∏î‡πâ‡∏ß‡∏¢‡∏Å‡∏≤‡∏£‡∏™‡∏£‡πâ‡∏≤‡∏á buffer ‡πÅ‡∏•‡∏∞ COPY ‡∏ï‡∏≤‡∏°‡πÄ‡∏î‡∏¥‡∏° ---
from io import StringIO
buffer = StringIO()
df.to_csv(buffer, sep="\t", header=False, index=False)
buffer.seek(0)
cur.copy_from(buffer, "features", sep="\t", null="")
conn.commit()

In [95]:
# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î‡∏ó‡∏µ‡πà‡πÄ‡∏û‡∏¥‡πà‡∏á‡∏≠‡∏±‡∏õ‡πÄ‡∏î‡∏ï
conn = psycopg2.connect(**DB_CONFIG)

# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡∏°‡πà‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô‡∏¢‡∏≤‡∏¢‡∏ô 2025
query = """
SELECT feature_date, day_type, dow, rain_average, arl, bts, mrt_blue, mrt_purple, srt_red, mrt_yellow, mrt_pink 
FROM features 
WHERE feature_date >= '2025-09-04' 
ORDER BY feature_date 
LIMIT 10;
"""

df_new = pd.read_sql(query, conn)
print("üìä ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡∏°‡πà‡∏ó‡∏µ‡πà‡πÄ‡∏û‡∏¥‡πà‡∏á‡∏≠‡∏±‡∏õ‡πÄ‡∏î‡∏ï:")
print(df_new)
conn.close()

üìä ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡∏°‡πà‡∏ó‡∏µ‡πà‡πÄ‡∏û‡∏¥‡πà‡∏á‡∏≠‡∏±‡∏õ‡πÄ‡∏î‡∏ï:
Empty DataFrame
Columns: [feature_date, day_type, dow, rain_average, arl, bts, mrt_blue, mrt_purple, srt_red, mrt_yellow, mrt_pink]
Index: []

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5404\3625735616.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_new = pd.read_sql(query, conn)

In [96]:
# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏™‡∏ñ‡∏¥‡∏ï‡∏¥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î
conn = psycopg2.connect(**DB_CONFIG)

summary_query = """
SELECT 
    COUNT(*) as total_records,
    MIN(feature_date) as earliest_date,
    MAX(feature_date) as latest_date,
    COUNT(CASE WHEN day_type = -1 THEN 1 END) as pending_day_type,
    COUNT(CASE WHEN rain_average IS NULL THEN 1 END) as missing_rain,
    AVG(arl) as avg_arl,
    AVG(bts) as avg_bts
FROM features;
"""

summary_df = pd.read_sql(summary_query, conn)
print("üìà ‡∏™‡∏ñ‡∏¥‡∏ï‡∏¥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î:")
print(summary_df)

# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç day_type ‡πÅ‡∏•‡∏∞ rain_average
pending_query = """
SELECT 
    EXTRACT(year FROM feature_date) as year,
    COUNT(*) as records_with_pending_data
FROM features 
WHERE day_type = -1 OR rain_average IS NULL
GROUP BY EXTRACT(year FROM feature_date)
ORDER BY year;
"""

pending_df = pd.read_sql(pending_query, conn)
print("\n‚ö†Ô∏è ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏¢‡∏±‡∏á‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç (day_type = -1 ‡∏´‡∏£‡∏∑‡∏≠ rain_average = null):")
print(pending_df)

conn.close()

üìà ‡∏™‡∏ñ‡∏¥‡∏ï‡∏¥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î:
   total_records earliest_date latest_date  pending_day_type  missing_rain  \
0           2073    2020-01-01  2025-09-03                 0             0

        avg_arl        avg_bts
0  48990.689822  576819.667631

‚ö†Ô∏è ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏¢‡∏±‡∏á‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏Å‡πâ‡πÑ‡∏Ç (day_type = -1 ‡∏´‡∏£‡∏∑‡∏≠ rain_average = null):
Empty DataFrame
Columns: [year, records_with_pending_data]
Index: []

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5404\652590329.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  summary_df = pd.read_sql(summary_query, conn)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_5404\652590329.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pending_df = pd.read_sql(pending_query, conn)

## ‡∏™‡∏£‡∏∏‡∏õ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡∏≠‡∏±‡∏õ‡πÄ‡∏î‡∏ï‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• MOT

‚úÖ **‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à**: ‡∏£‡∏∞‡∏ö‡∏ö `update_latest_data.py` ‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå
- ‡∏î‡∏∂‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏´‡∏°‡πà 27 ‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏à‡∏≤‡∏Å MOT API (‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà 2025-09-04 ‡∏ñ‡∏∂‡∏á 2025-09-30)
- ‡πÉ‡∏ä‡πâ UPSERT ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ã‡πâ‡∏≥
- Mapping ‡∏ä‡∏∑‡πà‡∏≠‡∏¢‡∏≤‡∏ô‡∏û‡∏≤‡∏´‡∏ô‡∏∞‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢‡πÑ‡∏õ‡πÄ‡∏õ‡πá‡∏ô column ‡∏†‡∏≤‡∏©‡∏≤‡∏≠‡∏±‡∏á‡∏Å‡∏§‡∏©‡∏ñ‡∏π‡∏Å‡∏ï‡πâ‡∏≠‡∏á

üìù **‡∏Å‡∏≤‡∏£‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏Ç‡∏≠‡∏á Mapping**:
```python
vehicle_mapping = {
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ARL': 'arl',           # ‡∏à‡∏≤‡∏Å API -> DB
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ BTS': 'bts', 
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô': 'mrt_blue',
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏°‡πà‡∏ß‡∏á': 'mrt_purple',
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡∏ä‡∏°‡∏û‡∏π': 'mrt_pink',
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÅ‡∏î‡∏á': 'srt_red',
    '‡∏£‡∏ñ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏™‡∏≤‡∏¢‡∏™‡∏µ‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á': 'mrt_yellow'
}
```

‚ö†Ô∏è **‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏Å‡∏≤‡∏£‡∏ï‡πà‡∏≠**:
- `day_type = -1` (‡∏ï‡πâ‡∏≠‡∏á‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡πÄ‡∏õ‡πá‡∏ô 0=‡∏ß‡∏±‡∏ô‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤, 1=‡∏ß‡∏±‡∏ô‡∏´‡∏¢‡∏∏‡∏î)
- `rain_average = null` (‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏ï‡∏¥‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ù‡∏ô)